.chi-tiet-dat-dai{
    padding: 0px 20px;
}

/* chi-tiet-dat-dai-top */

/* left */
.chi-tiet-dat-dai .chi-tiet-dat-dai-top-left{
    float: left;
    width: 20%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-top-left select{
    border: 2px solid #ad7b4a;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-top-left .add-button{
    background-color:  #ad7b4a;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    float: left;
}



/* right */
.chi-tiet-dat-dai .chi-tiet-dat-dai-top-right{
    float: right;
    width: 30%;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-top-right .chi-tiet-dat-dai-top-right-content .form-group{
    float: left;
    width: 30%;
    margin-right: 5%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-top-right .chi-tiet-dat-dai-top-right-content .input-group{
    float: left;
    width: 65%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-top-right .chi-tiet-dat-dai-top-right-content .input-group span{
    border: 2px solid #ad7b4a;
    background-color:  #ad7b4a;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-top-right .chi-tiet-dat-dai-top-right-content .input-group span i{
    color:#fff
}

@media only screen and (max-width: 1024px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-top-left{
        float: left;
        width: 40%;
        margin-bottom: 20px;
    }
    .chi-tiet-dat-dai .chi-tiet-dat-dai-top-right{
        float: right;
        width: 50%;
    }
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-top-left{
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .chi-tiet-dat-dai .chi-tiet-dat-dai-top-right{
        float: right;
        width: 100%;
    }
}


/* chi-tiet-dat-dai-middle */

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle .table-middle-custom{
    overflow-x:auto;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table{
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr th{
    border: 1px solid #ebebeb;
    text-align: center;
    padding:5px;
    background: #b8b8b8;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr:nth-child(even){
    background-color: #c9c9c9;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr .col-table-9{
    width:5%;
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr .col-table-7{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr .col-table-1{
    text-align: center;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr td{
    padding: 5px;
    border: 1px solid #ebebeb;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tr td i{
    padding: 0px 3px
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle table tbody tr:hover{
    background-color: #ddd;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle .pagination a{
    color: black;
    font-weight: 600;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-middle .pagination .disabled a{
    background-color: #AD7B4A;
    color: white;
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-middle table{
        width: 300%;
    }
}

/* chi-tiet-dat-dai-bottom */
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .nav-tabs li .active {
    border: 1px solid #AD7B4A;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .nav-tabs li a {
    color: #AD7B4A;
    font-weight: 600;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content .card-header {
    background-color: #bda590;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content .card-header h6{
    color:white;
    margin: 0px;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung{
    font-size: 90%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thong-tin-nguoi-su-dung-dat .thongtin-top .ten-cong-ty{
    float: left;
    width: 33%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thong-tin-nguoi-su-dung-dat .thongtin-top .ten-cong-ty h6{
    float: left;
    width: 50%;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thong-tin-nguoi-su-dung-dat .dia-chi h6{
    float: left;
    width: 15%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thongtin-thuadat .thongtin-top .ten-cong-ty{
    float: left;
    width: 25%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thongtin-thuadat .thongtin-top .ten-cong-ty{
    float: left;
    width: 33%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .thongtin-thuadat .thongtin-top .ten-cong-ty h6{
    float: left;
    width: 50%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .quyen-su-dung-dat .thongtin-top .ten-cong-ty{
    float: left;
    width: 33%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .quyen-su-dung-dat .thongtin-top .ten-cong-ty h6{
    float: left;
    width: 50%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .quyen-su-dung-dat .thongtin-top .muc-dich-su-dung{
    float: left;
    width:50%;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongtinchung .quyen-su-dung-dat .thongtin-top .muc-dich-su-dung h6{
    float: left;
    width:33%;
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .nav-tabs li a {
        font-size: 90%;
    }
}


/* tai-san-tren-dat */

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat {
    float: left;
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .input-group span{
    border: 2px solid #ad7b4a;
    background-color:  #ad7b4a;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .input-group span i{
    color:#fff
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat{
    float: left;
    width: 100%;
    overflow-x:auto;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table{
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr th{
    border: 1px solid #ebebeb;
    text-align: center;
    padding:5px;
    background: #b8b8b8;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr:nth-child(even){
    background-color: #c9c9c9;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr .col-table-9{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr .col-table-7{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr .col-table-1{
    text-align: center;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr td{
    padding: 5px;
    border: 1px solid #ebebeb;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tr td i{
    padding: 0px 3px
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table tbody tr:hover{
    background-color: #ddd;
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .table-tai-san-tren-dat table{
        width: 300%;
    }
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #taisantrendat .input-group{
        width: 50% !important;
    }
}

/* So-do */
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #sodo .text-so-do p{
    color: #ad7b4a;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #sodo .text-so-do i{
    color: #000;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #sodo #carouselExampleControls{
    width: 50%;
    margin : 0 auto;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #sodo #carouselExampleControls .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #sodo #carouselExampleControls .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* tinh-trang-phaply */

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply {
    float: left;
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .input-group span{
    border: 2px solid #ad7b4a;
    background-color:  #ad7b4a;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .input-group span i{
    color:#fff
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat{
    float: left;
    width: 100%;
    overflow-x:auto;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table{
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr th{
    border: 1px solid #ebebeb;
    text-align: center;
    padding:5px;
    background: #b8b8b8;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr:nth-child(even){
    background-color: #c9c9c9;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr .col-table-9{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr .col-table-7{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr .col-table-1{
    text-align: center;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr td{
    padding: 5px;
    border: 1px solid #ebebeb;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tr td i{
    padding: 0px 3px
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table tbody tr:hover{
    background-color: #ddd;
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .table-tai-san-tren-dat table{
        width: 300%;
    }
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #tinhtrangphaply .input-group{
        width: 50% !important;
    }
}

/* thong-ke-thay-doi-thong-tin-thua-dat */

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat {
    float: left;
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .input-group span{
    border: 2px solid #ad7b4a;
    background-color:  #ad7b4a;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .input-group span i{
    color:#fff
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat{
    float: left;
    width: 100%;
    overflow-x:auto;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table{
    width: 100%;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr th{
    border: 1px solid #ebebeb;
    text-align: center;
    padding:5px;
    background: #b8b8b8;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr:nth-child(even){
    background-color: #c9c9c9;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr .col-table-9{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr .col-table-7{
    text-align: center;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr .col-table-1{
    text-align: center;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr td{
    padding: 5px;
    border: 1px solid #ebebeb;
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tr td i{
    padding: 0px 3px
}

.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table tbody tr:hover{
    background-color: #ddd;
}

@media only screen and (max-width: 575px) {
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .table-tai-san-tren-dat table{
        width: 300%;
    }
    .chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat .input-group{
        width: 50% !important;
    }
}
