/* #dangnhap-body{
    background-color: white;
} */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    width: 100%;
}

.container-dang-nhap{
    margin: 5% 0%;
}

.img-bottom-dang-nhap-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0px 15px;
    object-fit: cover;
    height: 100%;
}

.img-bottom-dang-nhap-center {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0px 15px;
    object-fit: cover;
}

.form-dang-nhap{
    width: 80%;
    margin: 0 auto;

}
.form-dang-nhap h3{
    color: #1485ae;
}

.form-dang-nhap input{
    color: #1485ae;
    border: 2px solid #1485ae;
}

