img{
    width: 100%;
}

/* left */
 .content-left{
    background:linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255, 255,255,0.8)), url(../upload/SmartBuilding.jpg);
    background-size:cover;
    box-shadow:5px 0px 10px grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    text-align: left;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media only screen and (max-width: 575px) {
  .content-left{
    left: -30%;
    width: 25%;
    text-align: center;
  }
  
  .content-left.show-another {
    left: 0 !important;
  }
}

.content-left.shrink {
  width: 0px;
  text-align: center;
}

.content-left .img-content-left{
    padding:20px;
}
.content-left .card-header-tmp {
    padding: 5px 0px;
    margin-bottom: 0;
  }
  
  .content-left button.btn.btn-link.collapsed {
    text-decoration: none;
  }
  
  .content-left .btn-link:focus {
    text-decoration: underline;
    box-shadow: none;
    color: #ad7b4a;
  }
  
  .content-left .btn-link {
    font-weight: 600;
    color: #333;
    text-decoration: none;
  }
  
  .content-left .btn-link:hover {
    color: #ad7b4a;
  }
  
  .content-left .card-body-tmp {
    flex: 1 1 auto;
    padding: 10px 25px;
    font-size: 13px;
    color:black;
  }

  .content-left .card-body-tmp a{
    color:black;
  }

  .content-left .card-body-tmp a:hover{
    color: #ad7b4a;
  }
  
  .content-left .btn-tmp {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

/* right */
.content-right{
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: calc(100% - 15%);
  background-color: #F4F7FA;
  min-height: 100vh;
  padding-bottom: 50px;
}
.content-right.active {
  width: calc(100% - 0%);
}

@media only screen and (max-width: 575px) {
  .content-right {
    width: 100%;
  }
  .content-right.active-another {
    width: calc(100% - 25%);
  }
}
.content-right .header-content-right #toggle-btn{
  padding: 5px 15px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  color: black;
}


.content-right .header-content-right img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 99px;
}
.content-right .header-content-right i{
  font-size: 20px;
}

.content-right .float-30 {
  width: 33%;
  float: left;
  text-align: center;
  padding: 0 10px;
}




.content-right #myChart , #myChart2 {
  height: 100% !important;
}
.content-right .hr-red {
  background: red;
  width: 100%;
}
.content-right .content {
  width: 95%;
  margin: 0 auto;
  display: block;
}
.content-right .bg-gray {
  background: #8080804a;
}

.content-right .content-right-here .content .table-bottom-main .table tr:nth-child(even){
  background-color: #f2f2f2;
}

.content-right .content-right-here .content .table-bottom-main .table tr:hover {
  background-color: #ddd;
}

.content-right .content-right-here .content .table-bottom-main .table tr td{
  border: 1px solid #c4c4c4;
}

.content-right .content-right-here .content .table-bottom-main .table tr td a{
  color: black;
}

@media only screen and (max-width: 1024px) {
  .content-right .content-right-here .content .content-top .float-30 {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {

  .content-right .header-content-right .heading-mobi h4{
    font-size: 100% !important;
  }
  .content-right .header-content-right .btn-group img{
    width: 30px !important;
    height: 30px !important;
  }

  .content-right .content-right-here .content .content-top .float-30 {
    width: 100%;
  }
  .content-right .content-right-here .table-bottom-main {
    overflow-x:auto;
  }
  .content-right .content-right-here .table-bottom-main .table {
    width: 300%;
  }

}

