.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #333;
  min-width: 200px;
  border: 1px solid #333;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: #c0392b; */
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: red transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fff;
}
.select-styled:active, .select-styled.active {
  background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent red transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  /* border-top: 1px solid #962d22; */
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #AD7B4A;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}

/* table thong ke  */
.table-thong-ke table thead th {
    background-color: #ad7b4a !important;
    color: #fff !important;
}
.table-thong-ke table tr:nth-child(even){
    background-color:#c2a88d
    !important;
    color: #fff !important;
}

@media only screen and (max-width: 575px) {
    .custome-selected .select {
        margin-top: 15px;
    }
    .table-thong-ke {
      width: 100%;
      overflow-x:auto;
    }
    .table-thong-ke table {
        width: 300% !important;
    }
    .thongkethaydoi2  {
      overflow-x: auto;
    }
    .thongkethaydoi2 .thong-ke-content {
      width: 400% !important;
    }
    .thongkethaydoi2 .thong-ke-content .thongkethaydoi2-box:before {
      content: '';
      position: absolute;
      left: 40.2% !important;
      width: 2px;
      top: 0;
      z-index: -1;
      bottom: 0;
      background-color: #c2a88d;
    }

    .modal-dialog.modal-xl.custom-with-modal {
      overflow-x: auto;
    }

  }

.thongkethaydoi2 {
  clear: both;
  margin-top: 20px;
  float: left;
  position: relative;
  z-index: 0;
}
.thongkethaydoi2-box {
  float: left;
  width: 16%;
  z-index: 0;
}
.thongkethaydoi2-box .box-list {
  border-left: 3px solid #8b5f3b;
}
.timeline-box {
  border-left: none;
}
.thongkethaydoi2-box .box-title h3{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.thongkethaydoi2-box .box-list ul  {
  list-style: none;
  font-size: 13px;
  padding: 0 10px;
}
.thong-ke-content {
  /* position: relative; */
  float: left;
}
.thongkethaydoi2 .thong-ke-content .thongkethaydoi2-box:before {
  content: '';
  position: absolute;
  left: 10.2%;
  width: 2px;
  top: 0;
  z-index: -1;
  bottom: 0;
  background-color: #c2a88d;
}
.timeline {
  float: left;
  width: 60%;
}

.timeline-box::before {
  margin-top: 30px;
  /* position: relative; */
}
/* .timeline-badge {
  position: absolute;
  right: 50px;
} */
.timeline-badge i {
  color: red;
  z-index: 2;
}
.chi-tiet-dat-dai .chi-tiet-dat-dai-bottom .tab-content #thongkethaydoithongtinthuadat {
  background-color: #fff;
}

/* modal them moi  */
.add-new-modal .modal-header {
  background-color: #AD7B4A;
  padding: 10px;
}

.add-new-modal .modal-header h5 {
  color: #fff;
  font-size: 13px;
}
.custom-lable {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
}
.custom-lable-150 {
  width: 150px;
  padding-right: 10px;
}
.custom-input {
  width: 50%;
  opacity: 0.3;
}
.col-md-6 .custom-input {
  width: 55%;
}
.custom-input-dt {
  width: 69%;
}
.custom-input-85 {
  width: 85%;
}
.bg-brown {
  background-color: #ad7b4a !important;
}

/* modal cap nhat gia dat  */
.modal-cap-nhat-gia-dat .modal-content{
  background-color: #B5B5B5;
}
.modal-cap-nhat-gia-dat .modal-content h6{
  color: black;
}
.modal-cap-nhat-gia-dat .table-modal-cap-nhat-gia-dat{
  overflow-x: auto;
}
.modal-cap-nhat-gia-dat .table-modal-cap-nhat-gia-dat table{
  background-color: white;
  width: 100%;
  border-radius: 5px;
}
.modal-cap-nhat-gia-dat .table-modal-cap-nhat-gia-dat table tr th ,.modal-cap-nhat-gia-dat .table-modal-cap-nhat-gia-dat table tr td{
  text-align: center;
  padding:5px;
  border: 1px solid black;
}

.custom-with-modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}